<app-header></app-header>

<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
  <div ngxSlickItem class="slider-item " style="background-image:url('../../assets/img/car-img\ \(1\).png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem  class="slider-item" style="background-image:url('../../assets/img/car-img\ \(1\).png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem  class="slider-item" style="background-image:url('../../assets/img/car-img\ \(1\).png'); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>

<h4 class="bold text-dark uppercase mb-16">
    PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK
  </h4>
  <h4 class="price text-dark bold">€ 99,999</h4>
  <a class="contact-btn text-white bold" href="">Contacteer ons</a>
  <hr />
  <h4 class="mb-16 bold text-dark">Details</h4>
  <p class="text-gray mb-16" style="line-height: 1.2975rem">
    Porsche 911 Carrera 4S GTS (991.2) 3.0 Turbo * 450PK * 8 Trap Sport
    Automaat met F1 Paddles * 4X4 Permanente aandrijving *
    <br />
    <br />
    Zwart Metallic met zwart nappa Turbo lederen zetels. Belgische wagen
    van 1ste eigenaar met volledige Porsche historiek.
    <br />
    <br />
    EURO 6c – 192CO² uitstoot *
    <br />
    <br />
    Only In Belgium : Verkeer belastingen: € 906,29; De BIV(éénmalig) : €
    1.937,31
    <br />
    <br />
    Delta Motors – Inbegrepen in de prijs:<br />
    12 maanden garantie (stukken en werkuren)<br />
    Keuring voor verkoop + Carpass<br />
    Volledige nazicht voor levering<br />
    Onderhoud voor levering<br />
    <br />
    <br />
    Delta Motors – Optioneel: Velgen in alle maten en modellen; 24 maanden
    garantie; Pechverhelping
  </p>

  <div class="car-basic-info grid mb-16">
    <div><span>Type:</span><span>Coupe</span></div>
    <div><span>Conditie:</span><span>Used</span></div>
    <div><span>Kilometers:</span><span>74500 KM</span></div>
    <div><span>Transmissie:</span><span>Automatic</span></div>
    <div><span>Bouwjaar:</span><span>10/2017</span></div>
    <div><span>Brandstof:</span><span>Gasoline</span></div>
    <div><span>Vermogen:</span><span>331</span></div>
  </div>
  <h4 class="mb-16 bold text-dark">Opties</h4>
  <div class="car-options grid">
    <span>Airconditioning</span>
    <span>Armrest</span>
    <span>Automatic climate control</span>
    <span>Electric backseat adjustment</span>
    <span>Electrical side mirrors</span>
    <span>Electrically adjustable seats</span>
    <span>Electrically heated windshield</span>
    <span>Hill Holder</span>
    <span>Keyless central door lock</span>
    <span>Leather steering wheel</span>
    <span>Light sensor</span>
    <span>Multi-function steering wheel</span>
    <span>Navigation system</span>
    <span>Panorama roof</span>
    <span>Parking assist system camera</span>
    <span>Parking assist system sensors front</span>
    <span>Parking assist system sensors rear</span>
    <span>Power windows</span>
    <span>Rain sensor</span>
    <span>Split rear seats</span>
    <span>Start-stop system</span>
    <span>Sunroof</span>
    <span>Tinted windows</span>
    <span>Bluetooth</span>
    <span>CD player</span>
    <span>Induction charging for smartphones</span>
    <span>On-board computer</span>
    <span>Sound system</span>
    <span>USB</span>
    <span>WLAN / WiFi hotspot</span>
    <span>4WD</span>
    <span>Alloy wheels</span>
    <span>Ambient lighting</span>
    <span>Headlight washer system</span>
    <span>Shift paddles</span>
    <span>Spoiler</span>
    <span>Shift paddles</span>
    <span>Sport package</span>
    <span>Sport seats</span>
    <span>Sport suspension</span>
    <span>Touch screen</span>
    <span>ABS</span>
    <span>Adaptive Cruise Control</span>
    <span>Adaptive headlights</span>
    <span>Alarm system</span>
    <span>Blind spot monitor</span>
    <span>Central door lock</span>
    <span>Central door lock with remote control</span>
    <span>Daytime running lights</span>
    <span>Distance warning system</span>
    <span>Driver-side airbag</span>
    <span>Electronic stability control</span>
    <span>Emergency brake assistant</span>
    <span>Full-LED headlights</span>
    <span>Head airbag</span>
    <span>High beam assist</span>
    <span>Isofix</span>
    <span>LED Daytime Running Lights</span>
    <span>LED Headlights</span>
    <span>Lane departure warning system</span>
    <span>Power steering</span>
    <span>Side airbag</span>
    <span>Tire pressure monitoring system</span>
    <span>Traction control</span>
    <span>Traffic sign recognition</span>
    <span>Xenon headlights</span>
    <span>Coatings(Full leather)</span>
    <span>Color interior(Black)</span>
    <span>Non-smoking car(No)</span>
  </div>
  <h4 class="mb-16 bold text-dark">Beschrijving</h4>
  <div class="car-description grid mb-16">
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
    <span>Automatische airco 2 zone </span>
  </div>
  <p class="text-gray">
    * Onder voorbehoud van alle schrijffouten & incorrecte informatie.
  </p>
  <hr />
  <h4 class="underline mb-16 text-dark bold">
    Voor vragen & Meer info: +32 484 75 95 95
  </h4>
  <h4 class="text-dark bold">Ringlaan 12 8520 Kuurne</h4>

  <app-map></app-map>
  <app-footer></app-footer>