<header class="header flex">
    <div class="flex mobile">
      <div>
        <img class="logo" src="../../assets/img/tp.png" alt="top mottor logo" />
      </div>
      <nav>
        <ul class="navigation flex">
          <li><a aria-selected="true" href="index.html">home</a></li>
          <li><a aria-selected="false" href="contact.html">contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="contact flex">
      <a class="flex" href="">
        <div class="grid" style="place-items: center">
            <fa-icon [icon]="faLocationDot"></fa-icon>
        </div>
        <div class="details">
          <span>Location</span>
          <span>Ringlaan 12</span>
        </div>
      </a>
      <a class="flex" href="">
        <div class="grid" style="place-items: center">
            <fa-icon [icon]="faPhone"></fa-icon>
        </div>
        <div class="details">
          <span>Contact Us</span>
          <span>+32 484 75 95 95</span>
        </div>
      </a>
    </div>
  </header>