<footer>
    <section class="footer__primary">
      <div class="container flex" style="--gap: 90px">
        <div class="left flex" style="max-width: 400px">
          <h4 class="bold text-white uppercase">about us</h4>
          <p class="text-gray mb-16">
            Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet arcu vitae nibh venenatis mollis non a sem. Sed sollicitudin laoreet quam, eget commodo nisl vestibulum in. Sed felis erat, vehicula in elit et, vehicula dignissim arcu. Quisque dui dolor, ultricies eget aliquet id, dapibus in ex. Donec non erat a nibh consequat sodales sit amet eget ipsum. Maecenas dapibus dui orci, sed pretium nisl lobortis vitae. Fusce ornare ac justo vitae pharetra.
          </p>
          <div class="social-icons flex" style="--gap: 12px">
            <img src="../../assets/img/twitter-icon.svg" alt="twitter" />
            <img src="../../assets/img/facebook-icon.svg" alt="facebook" />
            <img src="../../assets/img/instagram-icon.svg" alt="instagram" />
          </div>
        </div>
        <div class="right flex">
          <h4 class="mb-16 bold text-white uppercase">hours</h4>
          <div class="mb-16">
            <p class="text">Sales</p>
            <p class="text">Mon-Sat: <span>9:30 - 18:30</span></p>
          </div>
          <div>
            <p class="text">Rental</p>
            <p class="text">Mon-Sat: <span>9:30 - 18:30</span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="footer__secondary">
      <div class="container flex">
        <img class="logo" src="../../assets/img/tp.png" alt="" />
        <p class="text">Created by <a class="text" href="">Kliti Bushamau</a></p>
      </div>
    </section>
  </footer>