<section class="cars">
    <h3 class="italic medium text-dark uppercase space-vertical text-center">
      Our <span class="bold">Dream Cars</span>
    </h3>
    <div class="card__container grid">
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/car-img (1).png" alt="" />
        <div class="card__content">
          <h4>PORSCHE TAYCAN 79.2 KWH 4S * CHRONO * PANO * 4×4 * BLACK</h4>
          <div class="flex odometer">
            <img src="../../../assets/img/odometer.svg" alt="" />
            <p class="text-gray">8000 km</p>
          </div>
          <div
            class="flex"
            style="justify-content: space-between; align-items: center"
          >
            <p class="subtitle">€ 99,999</p>
            <a class="button-small flex" href="">
              Details
              <img
                class="button-icon"
                src="../../../assets/img/chevron-right.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="button-small" style="--btn-vrt-padd: 1.3rem" href=""
        >View More Cars</a
      >
    </div>
  </section>