<app-header></app-header>
<main class="contact-page">
    <div class="container flex">
      <div style="flex-grow: 1">
        <h2 class="bold text-dark">How can we help you?</h2>
        <form class="form" action="">
          <div class="form-item">
            <input class="focused" type="text" name="Namm" />
            <label htmlFor="Namm">Name</label>
          </div>
          <div class="form-group">
            <div class="form-item">
              <input class="focused" type="text" name="Email" />
              <label htmlFor="Email">Email</label>
            </div>
            <div class="form-item">
              <input class="focused" type="text" name="Telefoon" />
              <label htmlFor="Telefoon">Phone</label>
            </div>
          </div>
          <div class="form-item">
            <textarea name="Question" id="" rows="3"></textarea>
            <label htmlFor="Question">How can we help you?</label>
          </div>
          <label htmlFor="privacy" class="checkbox text-gray">
            <input id="privacy" type="checkbox" name="Privacy" />
            <div>
                By checking this box you agree that we keep your personal data safe. Read our
              <a class="text-gray" href="privacy.html">Privacy Policy</a>.
            </div>
          </label>
          <label htmlFor="news" class="checkbox text-gray">
            <input id="news" type="checkbox" name="News" />
            I like to stay informed about projects and news
          </label>
          <input type="submit" value="Send" />
        </form>
      </div>
      <div class="contact-page-info text-gray">
        <div>
          <h4 class="bold text-dark mb-16">Opening hours</h4>
          <h5 class="text-dark bold">Sale</h5>
          <h5 class="mb-16">Mon-Sat : 9:30 - 18:30</h5>
          <h5 class="text-dark bold">Rental</h5>
          <h5>Mon-Sat : 9:30 - 18:30</h5>
        </div>
        <div>
          <h4 class="bold text-dark mb-16">Contact Us</h4>
          <h5 class="text-dark bold">Address</h5>
          <h5 class="mb-16">Ringlaan 12 - Kuurne 8520</h5>
          <h5 class="text-dark bold">Phone</h5>
          <h5>+32 484 75 95 95</h5>
          <h5 class="mb-16">+32 485 45 64 44</h5>
        </div>
      </div>
    </div>
  </main>