

<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('../../assets/img/car-img\ \(1\).png')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
                <h2 class="text-white">Find Your Dream Car On</h2>
                <h1 class="text-yellow">TopMotto!</h1>
                <a class="button-small" href="">Discover Our Cars</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('../../assets/img/car-img\ \(1\).png')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
                <h2 class="text-white">Find Your Dream Car On</h2>
                <h1 class="text-yellow">TopMotto!</h1>
                <a class="button-small" href="">Discover Our Cars</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('../../assets/img/car-img\ \(1\).png'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
                <h2 class="text-white">Find Your Dream Car On</h2>
                <h1 class="text-yellow">TopMotto!</h1>
                <a class="button-small" href="">Discover Our Cars</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
